@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		animation: fadeInAnimation ease 0.25s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		@apply bg-slate-50;
	}
	@keyframes fadeInAnimation {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		 }
	}
    ::selection {
        background: #2c73d244; /* WebKit/Blink Browsers */
    }
    ::-moz-selection {
        background: #2c73d244; /* Gecko Browsers */
    }
}
